<ion-header>
    <ion-toolbar color="danger">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Aide
      </ion-title>
    </ion-toolbar>
  </ion-header>



<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Admin</ion-card-subtitle>
      <ion-card-title>Cheikh Ahmadou Bamba Diagne</ion-card-title>
      <ion-img src="../../../assets/admin1.png"></ion-img>
    </ion-card-header>
  
    <ion-card-content>
      
<ion-card>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>Adresse</ion-label>
    </ion-item>
  
    <ion-card-content>
       Sénégal,Saint-louis,Route de Khor.
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-item href="gmail/com/cheikhkeydi95@gmail.com" class="activated">
      <ion-icon name="mail" slot="start"></ion-icon>
      <ion-label>cheikhkeydi95@gmail.com</ion-label>
    </ion-item>
  
    <ion-item href="775387145">
      <ion-icon name="call" slot="start"></ion-icon>
      <ion-label>+221775387145</ion-label>
    </ion-item>
  </ion-card>

    </ion-card-content>
  </ion-card>


<br/>

  <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Admin</ion-card-subtitle>
        <ion-card-title>Fallou Ndiaye</ion-card-title>
        <ion-img src="../../../assets/admin2.png"></ion-img>
      </ion-card-header>
    
      <ion-card-content>
        
  <ion-card>
      <ion-item>
        <ion-icon name="pin" slot="start"></ion-icon>
        <ion-label>Adresse</ion-label>
      </ion-item>
    
      <ion-card-content>
         Dakar,Pikine,Thiaroye Gare.
      </ion-card-content>
    </ion-card>
    
    <ion-card>
      <ion-item href="gmail/com/loufand18@gmail.com" class="activated">
        <ion-icon name="mail" slot="start"></ion-icon>
        <ion-label>loufand18@gmail.com</ion-label>
      </ion-item>
    
      <ion-item href="774901232">
        <ion-icon name="call" slot="start"></ion-icon>
        <ion-label>+774901232</ion-label>
      </ion-item>
    </ion-card>
  
      </ion-card-content>
    </ion-card>
  
  
</ion-content>
