      <ion-content fullscreen padding scroll-y="false">
        <ion-slides>
  
          <ion-slide>
            <img src="../../../assets/4.png"/>
          <div>
              <h2>Bienvenue dans <b>Pizzy</b></h2>
            <p><b>Une application</b> simple et pratique qui gére la gestion de vente en ligne de type pizzeria au niveaux des restaurants.</p>
          </div>


            <div class="background">
           
            </div>
            <br/><br/><br/><br/>
            <div class="con">
              <ion-img src="../../../assets/11.png" class="conn"></ion-img>
            </div>
            
             <h1><br/><br/><br/><br/><br/></h1>
            
          </ion-slide>
  
          <ion-slide>
            <img src="../../../assets/2.png"/>
            <div>
                       <h2>MENU du bout des doigts</h2>
            <p><b></b>Recevez le menu de pizza disponible sur votre smartphone dès que vous pénétrez dans l'application et faites vos meilleure choix.</p>
            </div>
            <br/><br/><br/>
            <div class="con">
              <ion-img src="../../../assets/12.png" class="conn"></ion-img>
            </div>
            
             <h1><br/><br/><br/><br/><br/></h1>
   
          </ion-slide>
  
          <ion-slide>
            <img src="../../../assets/1.png" class="time"/>
            <div>
            <h2>Évitez les temps et files d’attente du service</h2>
            <p><b></b> Commandez simplement via l’application MENU sur votre smartphone à tout moment.</p>
           </div>
           <br/><br/><br/><br/>
            <div class="con">
              <ion-img src="../../../assets/13.png" class="conn"></ion-img>
            </div>
            
             <h1><br/><br/><br/><br/><br/></h1>
          
          </ion-slide>

          <ion-slide>
            <img src="../../../assets/3.png"/>
            <div>
              <h2>Livraison a domicile</h2>
            <p><b></b>Choisissez la Livraison à domicile de votre commande avec 1500fr les frais.</p>
            </div>
            <br/><br/><br/><br/><br/>
            <div class="con">
              <ion-img src="../../../assets/14.png" class="conn"></ion-img>
            </div>
            
             <h1><br/><br/><br/><br/><br/></h1>
            
          </ion-slide>

          <ion-slide>
            <img src="../../../assets/2..png"/>
            <div>
              <h2>Paiements simplifiés</h2>
            <p><b></b>La meilleure partie ! Les commandes passées auprès du personnel en charge du service sont également accessibles via l’application MENU et peuvent être payées en quelques clics par Orange Money.</p>
            </div>
            <br/><br/>
            <div class="con">
              <ion-img src="../../../assets/15.png" class="conn"></ion-img>
            </div>
            
             <h1><br/><br/><br/><br/><br/></h1>
            
            
          </ion-slide>
  
          <ion-slide>
            <img src="../../../assets/logo.png"/>
            <h2>Vous êtes prêts?</h2>
            <ion-button fill="outline" shape="round"  color="light" (click)="goHome()">Continuer <ion-icon slot="end" name="arrow-forward" color="light"></ion-icon></ion-button>
          </ion-slide>
  
        </ion-slides>
      </ion-content>
