<ion-header>
    <ion-toolbar color="danger">
    </ion-toolbar>
  </ion-header>



<ion-content >

    <div class="padding">
      
      <div class="logo">
        <ion-img src="../../../assets/logo.png"></ion-img>
        <!-- <ion-icon color="light" name="contact"></ion-icon> -->
        <!-- <ion-icon color="light" name="cloudy-night"></ion-icon> -->
        <!-- <img src="../../assets/logo.png"> -->
      </div>
  
      <ion-item >
        <ion-label color="light">Email</ion-label>
        <ion-input color="light" type="mail" [(ngModel)]="tableau.username" placeholder="Adresse email"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label color="light">Mot de passe</ion-label>
        <ion-input color="light" type="password" [(ngModel)]="tableau.passeword" placeholder="Mot de passe"></ion-input>
      </ion-item>
  
      <ion-item lines="none">
        <ion-button color="light" slot="end" fill="clear">Mot de passe oublié ?</ion-button>
      </ion-item>
  
      <ion-button color="light" expand="block" shape="round" fill="outline" (click)="onClick()">Connexion</ion-button>
      <br>
      <ion-button color="tertiary" expand="block" shape="round" (click)="goInscription()">Inscription</ion-button>
      
      <!--div class="flex">
        <ion-button color="facebook" shape="round">
          <ion-icon slot="start" name="logo-facebook"></ion-icon>
          Facebook
        </ion-button>
        <ion-button  color="google" color="youtube" shape="round">
          <ion-icon slot="start" name="logo-google"></ion-icon>
          Google
        </ion-button>
      </div-->
  
    </div>
  </ion-content>
  